http-enpoints.json
[{"id":"db41819e.e3d8f","type":"tab","label":"HTTP Endpoints","disabled":false,"info":""},{"id":"daeddf1.0a7042","type":"http response","z":"db41819e.e3d8f","name":"","statusCode":"","headers":{},"x":1550,"y":400,"wires":[]},{"id":"e70ad4c0.991558","type":"function","z":"db41819e.e3d8f","name":"set queries","func":"   msg.userid = msg.payload.userid;\n   //msg.payload = {\"trashed\": {$exists: false}, \"userid\":msg.payload.userid};\n    \n    msg.payload = {};\n   // msg.sort = {\"_id\": -1};\n    msg.feedsview = true;\n    return msg;\n","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["2356ef94.c1d0a"]]},{"id":"2356ef94.c1d0a","type":"function","z":"db41819e.e3d8f","name":"Set DB Settings","func":"msg.db_url=\"mongodb://localhost:27017/\";\nmsg.db_name=\"carproj_db\";\nmsg.collection= \"USER_FEEDS_\" + msg.userid;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":300,"wires":[["dab0a345.bae14"]]},{"id":"dff8da37.690da8","type":"comment","z":"db41819e.e3d8f","name":"Feed Checker db to client webpage","info":"","x":200,"y":260,"wires":[]},{"id":"7635f115.c13fb","type":"http in","z":"db41819e.e3d8f","name":"","url":"/del","method":"post","upload":false,"swaggerDoc":"","x":120,"y":600,"wires":[["77be876c.53f3f8"]]},{"id":"b46ece3b.92f4f","type":"http response","z":"db41819e.e3d8f","name":"","statusCode":"","headers":{},"x":750,"y":620,"wires":[]},{"id":"77be876c.53f3f8","type":"function","z":"db41819e.e3d8f","name":"confirm del","func":"msg.userid = msg.payload.userid;\nmsg.theid = msg.payload.del;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":600,"wires":[["cd3a4652.293de8"]]},{"id":"1ab139b3.a770e6","type":"template","z":"db41819e.e3d8f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div>deleted</div>","output":"str","x":560,"y":620,"wires":[["b46ece3b.92f4f"]]},{"id":"ff703125.0002c","type":"function","z":"db41819e.e3d8f","name":"adjust for output","func":"const notify = {\n    sms : flow.get('smsOnOff'),\n    email: flow.get('emailOnOff')\n}\n\nif(notify.sms == \"off\"){\n    notify.sms = null;\n}\nif(notify.email == \"off\"){\n    notify.email = null;\n}\n\nmsg.notify = notify;\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":400,"wires":[["cb1872b9.8f123"]]},{"id":"cd3a4652.293de8","type":"function","z":"db41819e.e3d8f","name":"remove id","func":"//msg.payload = {\"_id\": msg.theid};\nmsg.query = {\"_id\": msg.theid};\nmsg.payload = {$set:{ \"trashed\": true  } };\nmsg.collection = \"USER_FEEDS_\" + msg.userid;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":600,"wires":[["1ab139b3.a770e6","bae27b11.954868"]]},{"id":"bae27b11.954868","type":"mongodb out","z":"db41819e.e3d8f","mongodb":"8f55ecde.6f0a8","name":"","collection":"","payonly":false,"upsert":true,"multi":true,"operation":"update","x":620,"y":560,"wires":[]},{"id":"7137000e.6cd61","type":"http in","z":"db41819e.e3d8f","name":"","url":"/trash","method":"get","upload":false,"swaggerDoc":"","x":120,"y":440,"wires":[["94d5786.2745788"]]},{"id":"94d5786.2745788","type":"function","z":"db41819e.e3d8f","name":"remove id","func":"\nmsg.userid = msg.payload.userid;\nmsg.payload = {\"trashed\": true, \"userid\": msg.userid}\nmsg.sort= {\"article.published\":-1}\nmsg.trashview = true;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":440,"wires":[["eee90f03.c8396"]]},{"id":"dab0a345.bae14","type":"mongodb in","z":"db41819e.e3d8f","mongodb":"8f55ecde.6f0a8","name":"","collection":"","operation":"find","x":720,"y":300,"wires":[["ff703125.0002c"]]},{"id":"b5820acd.49ad78","type":"comment","z":"db41819e.e3d8f","name":"Del / Send - db doc to Trash","info":"","x":180,"y":560,"wires":[]},{"id":"eee90f03.c8396","type":"mongodb in","z":"db41819e.e3d8f","mongodb":"8f55ecde.6f0a8","name":"","collection":"feeds","operation":"find","x":680,"y":440,"wires":[["ff703125.0002c"]]},{"id":"da4bdf02.67a2a","type":"comment","z":"db41819e.e3d8f","name":"The WebPage","info":"","x":1350,"y":340,"wires":[]},{"id":"94d8e7c.d53aa18","type":"comment","z":"db41819e.e3d8f","name":"Views The Trash","info":"","x":140,"y":400,"wires":[]},{"id":"fda0c45d.505878","type":"http in","z":"db41819e.e3d8f","name":"","url":"/get-blips","method":"get","upload":false,"swaggerDoc":"","x":140,"y":780,"wires":[["36c78b85.1eb044"]]},{"id":"36c78b85.1eb044","type":"function","z":"db41819e.e3d8f","name":"set queries","func":"msg.userid = msg.payload.userid;\n    msg.payload = {\"trashed\": {$exists: false},  \"userid\": msg.payload.userid    };\n    msg.sort = {\"logged_date\": -1};\n    msg.feedsview = true;\n    return msg;\n","outputs":1,"noerr":0,"x":310,"y":780,"wires":[["624597.0a7d9a68"]]},{"id":"624597.0a7d9a68","type":"function","z":"db41819e.e3d8f","name":"Set DB Settings","func":"msg.db_url=\"mongodb://localhost:27017/\";\nmsg.db_name=\"carproj_db\";\nmsg.collection=\"USER_FEEDS_\" + msg.userid;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":780,"wires":[["9e40bf5.81c404"]]},{"id":"d720d9c3.32f828","type":"comment","z":"db41819e.e3d8f","name":"Feed Checker db to client webpage","info":"","x":200,"y":740,"wires":[]},{"id":"24817fe8.628ec","type":"function","z":"db41819e.e3d8f","name":"adjust for output","func":"const notify = {\n    sms : flow.get('smsOnOff'),\n    email: flow.get('emailOnOff')\n}\n\nif(notify.sms == \"off\"){\n    notify.sms = null;\n}\nif(notify.email == \"off\"){\n    notify.email = null;\n}\n\nmsg.notify = notify;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":780,"wires":[["3b197b3d.67d104"]]},{"id":"9e40bf5.81c404","type":"mongodb in","z":"db41819e.e3d8f","mongodb":"8f55ecde.6f0a8","name":"","collection":"","operation":"find","x":700,"y":780,"wires":[["24817fe8.628ec"]]},{"id":"acac5703.e5bee8","type":"http response","z":"db41819e.e3d8f","name":"","statusCode":"","headers":{},"x":1530,"y":780,"wires":[]},{"id":"3b197b3d.67d104","type":"template","z":"db41819e.e3d8f","name":"THE WEBPAGE HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<style>\n    .entry {\n        padding:5px;\n        border-width:1px;\n        border-color:lightgrey;\n        border-style: solid;\n    }\n    \n</style>\n\n<!-- <div class=\"notify sticky ui animated slideInDown\" style=\"color: white;  height: auto;\">\n   <form action=\"\" method=\"\">    \n     \n     {{!--{{#trashview}}--}}\n        <div class=\"float-right\" style=\"display:inline-block;\">\n             <a class=\"btn btn-md btn-success\" onclick=\"alert('test');\" style=\"\">Feeds</a>\n         </div>\n     {{!--{{/trashview}}--}}\n     {{!--{{#feedsview}}--}}\n     <div class=\"float-right\" style=\"display:inline-block;\">\n          <a class=\"btn btn-md btn-success\" onclick=\"alert('test');\" style=\"\">Trash</a>\n     </div>\n     {{!--{{/feedsview}}--}}\n     \n   </form>\n  \n</div>  -->\n\n<div class=\"spacer\" style=\"margin-bottom:40px;\"></div>\n\n<div class=\"feeds\" id=\"feeds\">\n    \n    {{#payload}}\n          <div class=\"entry col-12 animated fadeIn\" style=\"margin:5px;\" id=\"{{_id}}\">\n            <div class=\"\" style=\"z-index:50; position: absolute; right:10px; top:10px; \">\n                  <a onclick=\"del('{{_id}}');\" id=\"del_{{_id}}\" class=\"btn btn-sm btn-danger\" style=\"width:15px; height:15px;\"><i class=\"fa fa-trash\"></i></a>\n             </div>\n        \n        {{!--<details>--}}\n            {{!--<summary>--}}\n\n                <div class=\"activity \">{{#subject}} {{name}} {{/subject}} </div><div>Found: {{#feedinfo.matched_keywords}}  [{{name}} x{{counts}}] {{/feedinfo.matched_keywords}} </div>\n                <div class=\"title item\"><a href=\"{{article.link}}\" target=\"_blank\"> {{{article.title}}} </a></div>\n                <a href=\"{{shorturl}}\" target=\"_blank\">{{shorturl}}</a>\n                <div class=\"pubdate item\"> Date Published: {{article.published}}</div>\n                {{#article.title}}<div class=\"summary item\">Article Title: {{{article.title}}}</div>{{/article.title}}\n            {{!--</summary>--}}\n\n            {{#article.content}}<div class=\"desciption item\"> Description: {{{article.content}}}</div>{{/article.content}}\n            {{#article.author}}<div class=\"author item\"> Author:{{article.author}}</div>{{/article.author}}\n        {{!--</details>--}}\n    </div>\n        \n    {{/payload}}\n    {{^payload}}\n        Waiting for keyword matches...\n    {{/payload}}\n</div>\n    \n\n\n<script>\n\nElement.prototype.remove = function() {\n    this.parentElement.removeChild(this);\n}\nNodeList.prototype.remove = HTMLCollection.prototype.remove = function() {\n    for(var i = this.length - 1; i >= 0; i--) {\n        if(this[i] && this[i].parentElement) {\n            this[i].parentElement.removeChild(this[i]);\n        }\n    }\n}\n\nfunction del(id){\n    \n     const data = {del: id};\n    \n     fetch('https://radarblip.io:18800/del', {\n         method: 'POST',\n         headers: {\n             'Content-Type': 'application/json',\n         },\n         body: JSON.stringify(data),\n         })\n        .then((response) => {\n             //alert(response);\n         })\n         .then((data) => {\n             \n               el =document.getElementById(id);\n             setTimeout(function(){  \n                 //el.style.display = \"none\"; \n                 el.remove();\n                 \n             }, 700);\n           \n\n              el.classList.add(\"animated\");\n              el.classList.add(\"slideOutLeft\");\n              el.classList.add(\"fadeOut\");\n \n         });\n             //     .catch((error) => {\n             //         alert('Error:');\n             //     });\n             // });\n    \n    \n}\n\n\nfunction clickedNotify() {\n     \n    const data = {\n        sms: document.getElementById(\"sms\").checked,\n        email: document.getElementById(\"email\").checked\n    }\n    \n     fetch('/setNotifications', {\n         method: 'POST',\n         headers: {\n             'Content-Type': 'application/json',\n         },\n         body: JSON.stringify(data),\n         })\n        .then((response) => {\n             //alert(response);\n         })\n         .then((data) => {\n              //alert('Success:');\n         });\n             //     .catch((error) => {\n             //         alert('Error:');\n             //     });\n             // });\n    \n            // alert(data.sms);\n  \n}\n\n\n// document.getElementById(\"sms\").addEventListener(\"input\", function () {clickedNotify()});\n// document.getElementById(\"email\").addEventListener(\"input\", function() {clickedNotify()});\n\n       \n</script>\n","output":"str","x":1200,"y":780,"wires":[["acac5703.e5bee8"]],"inputLabels":["input"]},{"id":"cb1872b9.8f123","type":"template","z":"db41819e.e3d8f","name":"THE WEBPAGE HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.2/css/mdb.min.css\"> \n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.2/js/mdb.min.js\"></script>\n<link href=\"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css\" rel=\"stylesheet\" integrity=\"sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN\" crossorigin=\"anonymous\">\n\n<style>c\n\nh2 {\n    size:3pt;\n}\n\n.feeds {\n    opacity: 1;\n    -webkit-transition: opacity 1000ms linear;\n    transition: opacity 1000ms linear;\n}\n\n.item {\n    margin-bottom:5px;\n    \n}\n\nimg  {\n    float:right;\n    width:150px;\n    height:auto;\n    margin-right:15px;\n    margin-bottom:15px;\n}\n\nbody {\n     opacity: 1;\n    -webkit-transition: opacity 1000ms linear;\n    transition: opacity 1000ms linear;\n    \n    background-image: url(https://res.cloudinary.com/sidtech/image/upload/v1583688433/digitalbg_lj3zae.jpg);\n    background-repeat: no-repeat;\n    background-attachment: fixed;\n    background: rgb(0,0,0);\n    background: linear-gradient(319deg, rgba(0,0,0,1) 34%, rgba(0,7,37,1) 60%, rgba(0,0,0,1) 71%);\n}\n\ndiv.sticky.ui {\n  background: rgb(0,0,0);\n  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,10,54,1) 47%, rgba(0,0,0,1) 100%);\n  position: -webkit-sticky; /* Safari */\n  position: sticky;\n  top: 0;\n  z-index: 100;\n  background-color:black;\n  border-color:blue;\n  border-width:2px;\n  border-radius: 8px;\n  border-top-right-radius: 0;\n  border-top-left-radius: 0;\n  border-top-width:0;\n  border-style:solid;\n  padding: 10px;\n  padding-top:15px;\n  top: -5px;\n  margin-top:-8px;\n}\n\npath {\n    height: 150px;\n    width: auto;\n    \n}\n\n    b {\n        background-color: lightgrey;\n        text-shadow: 1px 1px black;\n      \n    }\n    \n    details {\n        padding :5px;\n        padding-right:0px;\n        background: rgb(2,0,36);\n        background: linear-gradient(90deg, rgba(2,0,36,1) 16%, rgba(9,9,121,1) 47%, rgba(7,57,153,1) 99%, rgba(0,212,255,1) 100%); \n    }\n    summary {\n        padding: 5px;\n        background: rgb(2,0,36);\n        background: linear-gradient(90deg, rgba(2,0,36,1) 16%, rgba(9,9,121,1) 47%, rgba(7,57,153,1) 99%, rgba(0,212,255,1) 100%);\n        margin-top: 0px;\n        margin-bottom: 10px;\n        outline:none;\n}\n    \n        \n        \n    }\n    summary img{\n       align-content:right;\n        \n    }\n    \n    body {\n        background-color: black;\n        font: white;\n    }\n    .entry{\n      -webkit-box-sizing: content-box;\n      -moz-box-sizing: content-box;\n      box-sizing: content-box;\n      border: 1px solid rgba(0,150,255,0.71);\n      -webkit-border-radius: 5px;\n      border-radius: 2px;\n      font: normal 16px/1 \"Times New Roman\", Times, serif;\n      color: rgba(255,255,255,1);\n      \n      -o-text-overflow: ellipsis;\n      text-overflow: ellipsis;\n      -webkit-box-shadow: 3px 3px 4px 0 rgba(0,0,0,0.4) ;\n      box-shadow: 3px 3px 4px 0 rgba(0,0,0,0.4) ;\n      -webkit-transform: rotateX(-2.8647889756541165deg) rotateY(-4.010704565915763deg)   ;\n      transform: rotateX(-2.8647889756541165deg) rotateY(-4.010704565915763deg)   ;\n      margin-bottom: 7px;\n        \n    }\n .onoffswitch {\n    position: relative; width: 55px;\n    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;\n}\n.onoffswitch-checkbox {\n    display: none;\n}\n.onoffswitch-label {\n    display: block; overflow: hidden; cursor: pointer;\n    height: 20px; padding: 0; line-height: 20px;\n    border: 0px solid #FFFFFF; border-radius: 24px;\n    background-color: #9E9E9E;\n}\n.onoffswitch-label:before {\n    content: \"\";\n    display: block; width: 24px; margin: -2px;\n    background: #FFFFFF;\n    position: absolute; top: 0; bottom: 0;\n    right: 31px;\n    border-radius: 24px;\n    box-shadow: 0 6px 12px 0px #757575;\n}\n.onoffswitch-checkbox:checked + .onoffswitch-label {\n    background-color: #42A5F5;\n}\n.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {\n   border-color: #42A5F5;\n}\n.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {\n    margin-left: 0;\n}\n.onoffswitch-checkbox:checked + .onoffswitch-label:before {\n    right: 0px; \n    background-color: #23F5DC; \n    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);\n}\n</style>\n\n<div class=\"notify sticky ui animated slideInDown\" style=\"color: white;  height: auto;\">\n   <form action=\"\" method=\"\">    \n     <div>Notifications:</div>\n     \n     SMS:\n     <div class=\"onoffswitch\" style=\"margin-bottom:5px;   display: inline-block;\">\n         <input onclick=\"\" type=\"checkbox\" class=\"sms onoffswitch-checkbox\" id=\"sms\" name=\"sms\" {{#notify.sms}}checked{{/notify.sms}}>\n         <label class=\"onoffswitch-label\" for=\"sms\"></label>\n     </div>\n     \n     Email:\n     <div class=\"onoffswitch\" style=\"margin-bottom:5px;   display: inline-block;\">\n        <input onclick=\"\" type=\"checkbox\" class=\"email onoffswitch-checkbox\" name=\"email\" id=\"email\" {{#notify.email}}checked{{/notify.email}}> \n       <label class=\"onoffswitch-label\" for=\"email\"></label>\n     </div>\n     \n     {{#trashview}}\n        <div class=\"float-right\" style=\"display:inline-block;\">\n             <a class=\"btn btn-md btn-success\" href= \"/check-feed\" style=\"\">Feeds</a>\n         </div>\n     {{/trashview}}\n     {{#feedsview}}\n     <div class=\"float-right\" style=\"display:inline-block;\">\n          <a class=\"btn btn-md btn-success\" href= \"/trash\" style=\"\">Trash</a>\n     </div>\n     {{/feedsview}}\n     \n   </form>\n  \n</div>\n\n<div class=\"spacer\" style=\"margin-bottom:40px;\"></div>\n\n<div class=\"feeds\" id=\"feeds\">\n    \n    {{#payload}}\n          <div class=\"entry col-12 animated fadeIn\" style=\"margin:5px;\" id=\"{{_id}}\">\n            <div class=\"\" style=\"z-index:50; position: absolute; right:10px; top:10px; \">\n                  <a onclick=\"del('{{_id}}');\" id=\"del_{{_id}}\" class=\"btn btn-sm btn-danger\" style=\"width:15px; height:15px;\"><i class=\"fa fa-trash\"></i></a>\n             </div>\n        \n        {{!--<details>--}}\n            {{!--<summary>--}}\n\n                <div class=\"activity item\">{{#subject}} {{name}} {{/subject}} </div><div>{{#feedinfo.matched_keywords}}Keywords Matched:  {{name}}[{{counts}}] {{/feedinfo.matched_keywords}} </div>\n                <div class=\"title item\"><a href=\"{{article.link}}\" target=\"_blank\"> {{article.title}} </a></div>\n                <div class=\"pubdate item\"> Date Published: {{article.published}}</div>\n                {{#article.summary}}<div class=\"summary item\">Summary: {{{article.summary}}}</div>{{/article.summary}}\n            {{!--</summary>--}}\n\n            <div class=\"desciption item\"> Content: {{{article.content}}}</div>\n            {{#article.author}} <div class=\"author item\"> Author:{{article.author}}</div>{{/article.author}}\n        {{!--</details>--}}\n    </div>\n        \n    {{/payload}}\n    {{^payload}}\n        Waiting for keyword matches...\n    {{/payload}}\n</div>\n    \n\n\n<script>\n\nElement.prototype.remove = function() {\n    this.parentElement.removeChild(this);\n}\nNodeList.prototype.remove = HTMLCollection.prototype.remove = function() {\n    for(var i = this.length - 1; i >= 0; i--) {\n        if(this[i] && this[i].parentElement) {\n            this[i].parentElement.removeChild(this[i]);\n        }\n    }\n}\n\nfunction del(id){\n    \n     const data = {del: id};\n    \n     fetch('/del', {\n         method: 'POST',\n         headers: {\n             'Content-Type': 'application/json',\n         },\n         body: JSON.stringify(data),\n         })\n        .then((response) => {\n             //alert(response);\n         })\n         .then((data) => {\n             \n               el =document.getElementById(id);\n             setTimeout(function(){  \n                 //el.style.display = \"none\"; \n                 el.remove();\n                 \n             }, 700);\n           \n\n              el.classList.add(\"animated\");\n              el.classList.add(\"slideOutLeft\");\n              el.classList.add(\"fadeOut\");\n \n         });\n             //     .catch((error) => {\n             //         alert('Error:');\n             //     });\n             // });\n    \n    \n}\n\n\nfunction clickedNotify() {\n     \n    const data = {\n        sms: document.getElementById(\"sms\").checked,\n        email: document.getElementById(\"email\").checked\n    }\n    \n     fetch('/setNotifications', {\n         method: 'POST',\n         headers: {\n             'Content-Type': 'application/json',\n         },\n         body: JSON.stringify(data),\n         })\n        .then((response) => {\n             //alert(response);\n         })\n         .then((data) => {\n              //alert('Success:');\n         });\n             //     .catch((error) => {\n             //         alert('Error:');\n             //     });\n             // });\n    \n            // alert(data.sms);\n  \n}\n\n\ndocument.getElementById(\"sms\").addEventListener(\"input\", function () {clickedNotify()});\ndocument.getElementById(\"email\").addEventListener(\"input\", function() {clickedNotify()});\n\n       \n</script>\n","output":"str","x":1300,"y":400,"wires":[["daeddf1.0a7042"]]},{"id":"fbd33217.a8b41","type":"http in","z":"db41819e.e3d8f","name":"","url":"/my-subs","method":"get","upload":false,"swaggerDoc":"","x":130,"y":940,"wires":[["a6bf952d.42dc18"]]},{"id":"a6bf952d.42dc18","type":"function","z":"db41819e.e3d8f","name":"sets the query for the user","func":"//get the passed parameters into the payload\nmsg.userid = msg.payload.userid;\nmsg.payload = { \"trashed\":{$exists: false} , \"userid\": msg.payload.userid };\nmsg.sort = {\"_id\": -1};\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":940,"wires":[["7582dc52.672904"]]},{"id":"7582dc52.672904","type":"mongodb in","z":"db41819e.e3d8f","mongodb":"8f55ecde.6f0a8","name":"","collection":"subscriptions","operation":"find","x":680,"y":940,"wires":[["54eea5b1.ffca7c","aa4933c8.ba377"]]},{"id":"a7e79cea.0d908","type":"http response","z":"db41819e.e3d8f","name":"","statusCode":"","headers":{},"x":1150,"y":940,"wires":[]},{"id":"5ce59b1d.a47fd4","type":"http in","z":"db41819e.e3d8f","name":"","url":"/keywords-set","method":"post","upload":false,"swaggerDoc":"","x":150,"y":1080,"wires":[["79399f04.fe912"]]},{"id":"79399f04.fe912","type":"function","z":"db41819e.e3d8f","name":"","func":"//get the passed parameters into the payload\nmsg.payload = msg.query;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1080,"wires":[["6b14089e.2528d8"]]},{"id":"6b14089e.2528d8","type":"mongodb in","z":"db41819e.e3d8f","mongodb":"8f55ecde.6f0a8","name":"","collection":"subscriptions","operation":"find","x":560,"y":1080,"wires":[["e58781ef.6eb77"]]},{"id":"e58781ef.6eb77","type":"template","z":"db41819e.e3d8f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n\n<div class=\"container\">\n<h2>My Subscriptions</h2>\n\n\n{{#payload}}\n\n\n<div class=\"\" style=\"border-style:solid;border-width:1px;border-color:blue; background-color:darkblue; padding:5px;\">\n    {{!--<div>id: {{_id}} - {{project_id}}</div>--}}\n    <div>{{tier}}</div>\n    <div class=\"\">\n    Keywords assigned: \n    <b>\n    {{#keyword}}\n        <div class=\"\" style=\"background-color:yellow; margin:3px;\">{{.}}</div> <i id=\"{{_id}}_sms\" class=\"fas fa-sms\"></i><i id=\"{{_id}}_email\" class=\"fas fa-envelope\"></i>\n        <br>\n        <script>\n            var ev = document.getElementById('')\n        </script>\n    {{/keyword}}\n    </b>\n    </div>\n    {{!--<div> email: {{email}}</div>--}}\n\n    <div>Start date: {{start_date}}</div>\n    {{!--<div>Expires: {{expires}}</div>--}}\n<br>\n\n    <div>{{#active}}Active{{/active}}</div>\n\n</div>\n\n{{/payload}}\n\n</div>\n\n\n\n<script>\n\n\n\n\n</script>\n\n\n\n\n\n","output":"str","x":800,"y":1080,"wires":[["5e16bfa1.accc8"]]},{"id":"5e16bfa1.accc8","type":"http response","z":"db41819e.e3d8f","name":"","statusCode":"","headers":{},"x":930,"y":1080,"wires":[]},{"id":"c89b3ee6.4c1fa","type":"http in","z":"db41819e.e3d8f","name":"","url":"/setNotifications","method":"post","upload":false,"swaggerDoc":"","x":180,"y":160,"wires":[["47322ffe.bc4f7","70a88dcc.d9e764"]]},{"id":"70a88dcc.d9e764","type":"function","z":"db41819e.e3d8f","name":"convert value \"on\" or \"off\"","func":"if(msg.payload.sms === true){\n    msg.payload = \"on\";\n} else {\n    msg.payload = \"off\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":140,"wires":[["7333c089.dfbf"]]},{"id":"47322ffe.bc4f7","type":"function","z":"db41819e.e3d8f","name":"convert value \"on\" or \"off\"","func":"if(msg.payload.email === true){\n    msg.payload = \"on\";\n} \n\nif(msg.payload.email === false){\n    msg.payload = \"off\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":200,"wires":[["3ec46e16.4c7282"]]},{"id":"7333c089.dfbf","type":"link out","z":"db41819e.e3d8f","name":"","links":["72e9379e.1774e8"],"x":635,"y":140,"wires":[]},{"id":"3ec46e16.4c7282","type":"link out","z":"db41819e.e3d8f","name":"","links":["2c1d1787.13de08"],"x":635,"y":200,"wires":[]},{"id":"81d7fd98.bf13e","type":"comment","z":"db41819e.e3d8f","name":"Begin - HTTP ENDPOINTS / API --->","info":"","x":180,"y":40,"wires":[]},{"id":"b8bdd40f.a37278","type":"comment","z":"db41819e.e3d8f","name":"Sets Notification Settings","info":"","x":170,"y":120,"wires":[]},{"id":"7a89544d.ce930c","type":"http in","z":"db41819e.e3d8f","name":"","url":"/subs","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1440,"wires":[["7766445a.bbc02c"]]},{"id":"7766445a.bbc02c","type":"function","z":"db41819e.e3d8f","name":"","func":"\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1440,"wires":[["fc521d3b.3fd94"]]},{"id":"16aa7c37.742b14","type":"template","z":"db41819e.e3d8f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<div id=\"debug\">\n    \n</div>\n\n{{#payload}}\n\n\n<div id=\"{{_id}}\" class=\"sub-block\" style=\"padding:3px;margin-bottom:10px; border-style:solid; border-width:1px; border-color:black;\">\n    id: {{_id}}<br>\n    userid: {{userid}}<br>\n    Started: {{start_date}}<br>\n    Keywords: {{#keywords}}{{.}} {{/keywords}}\n    <br>\n    \n    Feeds:<br>\n    {{#feeds}}\n        {{.}}<br>\n    {{/feeds}}\n<br>\n        Insert RSS:\n        <input type=\"text\" name=\"rssurl\" id=\"rss{{_id}}\">\n        <button type=\"submit\" id=\"sub{{_id}}\">Insert</button>\n\n        <script>\n        document.getElementById('sub{{_id}}').addEventListener('click', function (cb){\n            \n            var rss = document.getElementById(\"rss{{_id}}\").value;\n            var theid = \"{{_id}}\";\n            \n            \n            var data = {\n                \"_id\" : theid,\n                \"rssfeed\" : rss\n            }\n        \n            \n            fetch(\"https://radarblip.io:18800/addfeed_url\", {\n                 method: 'post',\n                 body : JSON.stringify(data),\n                 method: 'POST', // *GET, POST, PUT, DELETE, etc.\n                 mode: 'cors', // no-cors, *cors, same-origin\n                 cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached\n                 credentials: 'same-origin', // include, *same-origin, omit\n                 headers: {\n                    'Content-Type': 'application/json'\n                        // 'Content-Type': 'application/x-www-form-urlencoded',\n                }\n                //redirect: 'follow', // manual, *follow, error\n                //referrerPolicy: 'no-referrer', // no-referrer, *client\n            })\n            .then(){\n                alert(this.responseText);\n            });\n            \n        });\n        \n    \n        \n    \n        </script>\n\n        \n        \n\n    \n    \n</div>\n\n\n{{/payload}}\n\n\n","output":"str","x":840,"y":1440,"wires":[["74d0bb3c.dc8e24"]]},{"id":"fc521d3b.3fd94","type":"mongodb in","z":"db41819e.e3d8f","mongodb":"8f55ecde.6f0a8","name":"","collection":"subscriptions","operation":"find","x":560,"y":1440,"wires":[["16aa7c37.742b14"]]},{"id":"74d0bb3c.dc8e24","type":"http response","z":"db41819e.e3d8f","name":"","statusCode":"","headers":{},"x":1620,"y":1440,"wires":[]},{"id":"10b41931.5d42b7","type":"http in","z":"db41819e.e3d8f","name":"","url":"/addfeed_url","method":"post","upload":false,"swaggerDoc":"","x":150,"y":1280,"wires":[["ada68993.d68cc8"]]},{"id":"ada68993.d68cc8","type":"function","z":"db41819e.e3d8f","name":"retain payload data to msg","func":"\n//retains ID and feed for when payload changes;\nmsg.rssfeed = msg.payload.rssfeed;\nmsg._id = msg.payload._id;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1280,"wires":[["92303929.c02828"]]},{"id":"7979fd89.5ced14","type":"mongodb out","z":"db41819e.e3d8f","mongodb":"8f55ecde.6f0a8","name":"","collection":"subscriptions","payonly":true,"upsert":true,"multi":false,"operation":"store","x":1420,"y":1200,"wires":[]},{"id":"7906515c.39981","type":"http response","z":"db41819e.e3d8f","name":"","statusCode":"","headers":{},"x":2510,"y":1260,"wires":[]},{"id":"6edfe6dd.d1b468","type":"mongodb in","z":"db41819e.e3d8f","mongodb":"8f55ecde.6f0a8","name":"","collection":"subscriptions","operation":"find","x":2000,"y":1260,"wires":[["db2c516b.98a86"]]},{"id":"fef819d2.445328","type":"function","z":"db41819e.e3d8f","name":"set query for the _id","func":"msg.payload = {\"_id\": msg._id };\nreturn msg;","outputs":1,"noerr":0,"x":1720,"y":1260,"wires":[["6edfe6dd.d1b468"]]},{"id":"364c134d.a0fcbc","type":"delay","z":"db41819e.e3d8f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1580,"y":1300,"wires":[["fef819d2.445328"]]},{"id":"58d99f21.830a3","type":"template","z":"db41819e.e3d8f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n{{!--{{#payload}}--}}\n\n{{!--<div id=\"{{_id}}\" class=\"sub-block\">--}}\n{{!--    id: {{_id}}<br>--}}\n{{!--    userid: {{userid}}<br>--}}\n{{!--    Started: {{start_date}}<br>--}}\n{{!--    Feeds:<br>--}}\n{{!--    {{#feeds}}--}}\n{{!--        {{.}}--}}\n{{!--    {{/feeds}}--}}\n\n{{!--        Insert RSS:--}}\n{{!--        <input type=\"text\" name=\"rssurl\" id=\"rss{{_id}}\">--}}\n{{!--        <button type=\"submit\" id=\"sub{{_id}}\">Insert</button>--}}\n\n{{!--        <script>--}}\n{{!--        document.getElementById('sub{{_id}}').addEventListener('click', function (cb){--}}\n            \n{{!--            var rss = document.getElementById(\"rss{{_id}}\").value;--}}\n{{!--            var theid = \"{{_id}}\";--}}\n            \n            \n{{!--            var data = {--}}\n{{!--                \"_id\" : theid,--}}\n{{!--                \"rssfeed\" : rss--}}\n{{!--            }--}}\n        \n            \n{{!--            fetch(\"https://radarblip.io:18800/addfeed_url\", {--}}\n{{!--                 method: 'post',--}}\n{{!--                 body : JSON.stringify(data),--}}\n                 method: 'POST', // *GET, POST, PUT, DELETE, etc.\n                 mode: 'cors', // no-cors, *cors, same-origin\n                 cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached\n                 credentials: 'same-origin', // include, *same-origin, omit\n{{!--                 headers: {--}}\n{{!--                    'Content-Type': 'application/json'--}}\n                        // 'Content-Type': 'application/x-www-form-urlencoded',\n{{!--                }--}}\n                //redirect: 'follow', // manual, *follow, error\n                //referrerPolicy: 'no-referrer', // no-referrer, *client\n{{!--            })--}}\n{{!--            .then(function (e){--}}\n{{!--                document.getElementById(\"{{_id}}\").innerHTML = e;--}}\n{{!--            });--}}\n            \n{{!--        });--}}\n    \n{{!--        </script>--}}\n    \n{{!--</div>--}}\n\n\n{{!--{{/payload}}--}}","output":"str","x":2360,"y":1260,"wires":[["7906515c.39981"]]},{"id":"db2c516b.98a86","type":"function","z":"db41819e.e3d8f","name":"","func":"\nmsg.payload = msg.payload[0];\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2230,"y":1260,"wires":[["58d99f21.830a3"]]},{"id":"7b337ff2.12ad6","type":"mongodb in","z":"db41819e.e3d8f","mongodb":"8f55ecde.6f0a8","name":"","collection":"subscriptions","operation":"find","x":940,"y":1300,"wires":[["7daa69bb.ec83f8"]]},{"id":"7daa69bb.ec83f8","type":"function","z":"db41819e.e3d8f","name":"push rss","func":"\nmsg.payload = msg.payload[0]; // make singular\n\nif(typeof(msg.payload.feeds)==\"undefined\"){\n    msg.payload.feeds =[];\n}\n\nmsg.payload.feeds.push(msg.rssfeed);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":1300,"wires":[["7979fd89.5ced14","f4432476.3e82a8"]]},{"id":"92303929.c02828","type":"function","z":"db41819e.e3d8f","name":"query DB with _id","func":"\n//setup query\nmsg.payload = {\"_id\": msg._id};\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1280,"wires":[["347d45b8.9a484a"]]},{"id":"347d45b8.9a484a","type":"objectid","z":"db41819e.e3d8f","name":"","property":"payload._id","propertyType":"msg","x":850,"y":1240,"wires":[["7b337ff2.12ad6"]]},{"id":"fb2764ba.d96ea8","type":"comment","z":"db41819e.e3d8f","name":"addfeed_url. : Adds a URL manually to Feeds (Beta!)","info":"You can add feeds to an active subscription.\n\nThis goes into the feed array, which then will\nget fed into the feed checker.\n\n\n\n\n/addfeed_url?_id=<_id>&rssfeed=\"URLToRSS\"\n\n\n\n\n\n","x":250,"y":1240,"wires":[]},{"id":"f4432476.3e82a8","type":"objectid","z":"db41819e.e3d8f","name":"","property":"_id","propertyType":"msg","x":1390,"y":1300,"wires":[["364c134d.a0fcbc"]]},{"id":"76468397.40937c","type":"http in","z":"db41819e.e3d8f","name":"","url":"/check-feed","method":"get","upload":false,"swaggerDoc":"","x":140,"y":300,"wires":[["e70ad4c0.991558"]]},{"id":"91865037.23a3c","type":"comment","z":"db41819e.e3d8f","name":"The WebPage","info":"","x":1210,"y":740,"wires":[]},{"id":"54eea5b1.ffca7c","type":"handlebars","z":"db41819e.e3d8f","name":"","sourceProperty":"payload","targetProperty":"msg.payload","query":"<head>\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n</head>\n\n\n<div class=\"container\">\nMy Subscriptions.. \n\n\n{{#each this}}\n\n<div class=\"row\" style=\"border-style:solid;border-width:1px;border-color:blue; background-color:lightgrey; padding:5px;\">\n    <!--<div>id: {{_id}} - {{project_id}}</div>-->\n    <!--<div>{{tier}}</div>-->\n    <div class=\"col\">\n    Keywords assigned: \n    <br>\n    <b>\n    {{#each kwset}}\n        \n          \n        <div class=\"\" style=\"background-color:lightblue; margin:3px;\">\n            <div class=\"\" style=\"width:auto;\">\n                {{keyword}}\n            </div>\n            <div class=\"\" style=\"\">\n                <div class=\"onoffswitch\" style=\"display:inline-block;\">\n                    {{#if sms}}\n                        <input type=\"checkbox\" name=\"{{../_id}}_{{_id}}_sms\" class=\"onoffswitch-checkbox\" id=\"{{../_id}}_{{_id}}_sms\" checked>\n                    {{else}}\n                        <input type=\"checkbox\" name=\"{{../_id}}_{{_id}}_sms\" class=\"onoffswitch-checkbox\" id=\"{{../_id}}_{{_id}}_sms\" >\n                    {{/if}}\n                        <label class=\"onoffswitch-label\" for=\"myonoffswitch\">SMS</label>\n                </div>\n                <div class=\"onoffswitch\" style=\"display:inline-block;\">\n                    {{#if email}}\n                        <input type=\"checkbox\" name=\"{{../_id}}_{{_id}}_email\" class=\"onoffswitch-checkbox\" id=\"{{../_id}}_{{_id}}_email\" checked>\n                   {{else}}\n                        <input type=\"checkbox\" name=\"{{../_id}}_{{_id}}_email\" class=\"onoffswitch-checkbox\" id=\"{{../_id}}_{{_id}}_email\">\n                   {{/if}}\n                        <label class=\"onoffswitch-label\" for=\"myonoffswitch\">Email</label>\n        \n                </div>\n            </div>\n        </div> \n        \n        <script>\n        \n        \n        document.getElementById('{{../_id}}_{{_id}}_sms').addEventListener('change',  function(){\n           //alert(\"{{../_id}}_{{_id}}_sms\");\n            \n            const data = { \n                \"sub_id\" : \"{{../_id}}\",\n                \"index\" : \"{{_id}}\",\n                \"payload\" : \"{{../_id}}_{{_id}}_sms\",\n                \"sms\" : document.getElementById('{{../_id}}_{{_id}}_sms').checked,\n            };\n\n            fetch('https://radarblip.io:18800/setKW', {\n            method: 'POST', // or 'PUT'\n            headers: {\n                 'Content-Type': 'application/json',\n            },\n            body: JSON.stringify(data),\n            })\n            .then((response) => response.json())\n            .then((data) => {\n                alert(data);\n                console.log('Success:', data);\n            })\n            .catch((error) => {\n                 console.error('Error:', error);\n            }); \n            \n        });\n         \n         document.getElementById('{{../_id}}_{{_id}}_email').addEventListener('change',  function(){\n           //alert(\"{{../_id}}_{{_id}}_sms\");\n            \n            const data = { \n                \"sub_id\" : \"{{../_id}}\",\n                \"index\" : \"{{_id}}\",\n                \"payload\" : \"{{../_id}}_{{_id}}_sms\",\n                \"email\": document.getElementById('{{../_id}}_{{_id}}_email').checked\n            };\n\n            fetch('https://radarblip.io:18800/setKW', {\n            method: 'POST', // or 'PUT'\n            headers: {\n                 'Content-Type': 'application/json',\n            },\n            body: JSON.stringify(data),\n            })\n            .then((response) => response.json())\n            .then((data) => {\n                alert(data);\n                console.log('Success:', data);\n            })\n            .catch((error) => {\n                 console.error('Error:', error);\n            }); \n            \n        });\n        \n        \n\n\n        </script>\n        \n        \n    {{/each}}\n    </b>\n    </div>\n    <div> email: {{email}}</div>\n\n    <div>Start date: {{start_date}}</div>\n    <div>Expires: {{expires}}</div>\n    <br>\n\n    <div>{{#if active}}Active{{/if}}</div>\n\n</div>\n\n{{/each}}\n\n<center><a href=\"https://radar-blip.com/my-blips?userid={{userid}}\">GO BACK</a></center>\n</div>\n\n","x":1010,"y":940,"wires":[["a7e79cea.0d908"]]},{"id":"aa4933c8.ba377","type":"debug","z":"db41819e.e3d8f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":900,"wires":[]},{"id":"1a2a30a0.765cdf","type":"http in","z":"db41819e.e3d8f","name":"","url":"/setKW","method":"post","upload":false,"swaggerDoc":"","x":130,"y":1640,"wires":[["435565eb.b37adc"]]},{"id":"fe52c69c.64e928","type":"http response","z":"db41819e.e3d8f","name":"","statusCode":"","headers":{},"x":1210,"y":1680,"wires":[]},{"id":"b3c482af.c448d","type":"template","z":"db41819e.e3d8f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ok","output":"str","x":1000,"y":1680,"wires":[["fe52c69c.64e928"]]},{"id":"3f955ce4.c6e704","type":"mongodb out","z":"db41819e.e3d8f","mongodb":"8f55ecde.6f0a8","name":"","collection":"subscriptions","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1100,"y":1640,"wires":[]},{"id":"b118507a.e277d","type":"function","z":"db41819e.e3d8f","name":"toggler","func":"\nvar el = msg.payload[0];\nvar i = msg.params.index;\n\n\nif(typeof(msg.params.sms)=== \"undefined\" ){\n}else{\n   el.kwset[i].sms = msg.params.sms;\n}\n\n\nif(typeof(msg.params.email)=== \"undefined\" ){\n}else{\n   el.kwset[i].email = msg.params.email;\n}\n\n\nmsg.payload = el;\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1640,"wires":[["b3c482af.c448d","3f955ce4.c6e704"]]},{"id":"eed3cac0.ce2e98","type":"mongodb in","z":"db41819e.e3d8f","mongodb":"8f55ecde.6f0a8","name":"","collection":"subscriptions","operation":"find","x":660,"y":1600,"wires":[["b118507a.e277d"]]},{"id":"58fd9c0f.135534","type":"function","z":"db41819e.e3d8f","name":"","func":"msg.params = msg.payload;\nmsg.payload = { \"_id\": msg.payload.sub_id   };\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1640,"wires":[["eed3cac0.ce2e98"]]},{"id":"435565eb.b37adc","type":"objectid","z":"db41819e.e3d8f","name":"","property":"payload.sub_id","propertyType":"msg","x":370,"y":1640,"wires":[["58fd9c0f.135534"]]},{"id":"f43d51df.370ea","type":"http response","z":"db41819e.e3d8f","name":"","statusCode":"","headers":{},"x":1170,"y":1860,"wires":[]},{"id":"54a2765.3f47888","type":"http in","z":"db41819e.e3d8f","name":"","url":"/my-prefs","method":"get","upload":false,"swaggerDoc":"","x":160,"y":2040,"wires":[["237ba7a4.f5d798"]]},{"id":"237ba7a4.f5d798","type":"function","z":"db41819e.e3d8f","name":"sets the query for the user","func":"//get the passed parameters into the payload\nmsg.userid = msg.payload.userid;\nmsg.params = msg.payload;\nmsg.payload = {  \"userid\": msg.payload.userid };\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":2040,"wires":[["38c724c.7836bdc"]]},{"id":"38c724c.7836bdc","type":"mongodb in","z":"db41819e.e3d8f","mongodb":"8f55ecde.6f0a8","name":"","collection":"user_settings","operation":"find","x":720,"y":2040,"wires":[["236c929d.db035e"]]},{"id":"5d5026fb.f276a8","type":"http response","z":"db41819e.e3d8f","name":"","statusCode":"","headers":{},"x":1690,"y":2080,"wires":[]},{"id":"84758fb5.cf736","type":"handlebars","z":"db41819e.e3d8f","name":"","sourceProperty":"msg.payload","targetProperty":"msg.payload","query":"<head>\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n</head>\n\n\n<div class=\"container\">\n   \n<div class=\"row\" style=\"border-style:solid;border-width:1px;border-color:blue; background-color:lightgrey; padding:5px;\">\n         Enter your notification settings to allow notifications via SMS or Email.  Leave blank to omit notification.\n\n        <form action=\"https://radarblip.io:18800/setUserPrefs\" method=\"POST\">\n                <label class=\"\" for=\"phoneInput\">Phone # for SMS: </label>\n                <input id=\"phone\" name=\"phone\" autocomplete=\"off\" type=\"tel\" pattern=\"[0-9]{3}-[0-9]{3}-[0-9]{4}\" value=\"{{phone}}\">\n                <br>\n                <label class=\"\" for=\"email\">Email: </label>\n                <input type=\"email\" name=\"email\" class=\"\" id=\"email\" value=\"{{email}}\">\n            \n                <input type=\"hidden\" name=\"userid\" class=\"\" id=\"userid\" value={{userid}}>\n                \n                <button type=\"submit\" id=\"save\" onclick=\"function (){\n                       alert('test');\n                \n                }\">Save</button>\n    </form>\n    <a href = \"https://radarblip.io:18800/my-subs?userid={{userid}}\">Edit My Keyword Notifications</a>\n    </div>\n    \n</div>\n \n\n<script>\n    \nconst phoneInput = document.querySelector('#phone');\nconst phoneFormat = '({0}{1}{2}) {3}{4}{5}-{6}{7}{8}{9}';\n\nphoneInput.addEventListener('input', (event) => {\n  const inputStripped = phoneInput.value.replace(/\\D/g, '');\n  const inputIsValid = !isNaN(parseInt(event.data));\n\n  if (event.inputType.includes('deleteContent')) {\n \n    return;\n  }\n\n\n  if (event.inputType == 'insertText' && (inputStripped.length > 10 || !inputIsValid)) {\n    phoneInput.value = phoneInput.value.substring(0, phoneInput.value.length - 1);\n    return;\n  }\n\n  if (inputStripped)\n    phoneInput.value = formatPhoneInput(inputStripped);\n});\n\nconst formatPhoneInput = (inputNumber) => {\n  let inputNumArr = inputNumber.split('');\n  let formatVar = inputNumArr.length - 1;\n  \n  // indexOf() + 3, so we can replace the entire '{x}' variable in phoneFormat\n  let replaceIndex = phoneFormat.indexOf(`{${formatVar}}`) + 3;\n  \n  // Autocompletion to next input value\n  switch (formatVar) {\n    case 2:\n      replaceIndex += 2;\n      break;\n    case 5:\n      replaceIndex += 1;\n      break;\n    default:\n      break;\n  }\n  \n  // phoneFormat substring based on the current number length\n  let formattedInput = phoneFormat.substring(0, replaceIndex);\n\n  for (let i = 0; i < inputNumArr.length; i++) {\n    formattedInput = formattedInput.replace(`{${i}}`, inputNumArr[i]);\n  }\n\n  return formattedInput;\n}\n    \n</script>\n","x":1470,"y":2100,"wires":[["5d5026fb.f276a8"]]},{"id":"e9661c60.9e4d1","type":"http in","z":"db41819e.e3d8f","name":"","url":"/setUserPrefs","method":"post","upload":false,"swaggerDoc":"","x":150,"y":1820,"wires":[["9ee9b15f.b337f","3c293eda.b1c572"]]},{"id":"236c929d.db035e","type":"function","z":"db41819e.e3d8f","name":"Settings Exist or Not? 1 , 2 ","func":"if(msg.payload.length >0){\nreturn [msg,null];\n}else{\n    return [null,msg];\n}","outputs":2,"noerr":0,"x":820,"y":2080,"wires":[["122c2bb1.3b5454"],["98e81cd6.552ef"]]},{"id":"122c2bb1.3b5454","type":"function","z":"db41819e.e3d8f","name":"","func":"msg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":2060,"wires":[["84758fb5.cf736"]]},{"id":"9ee9b15f.b337f","type":"function","z":"db41819e.e3d8f","name":"send res","func":"msg.payload='<meta http-equiv=\"Refresh\" content=\"0; url=https://radar-blip.com/my-blips\" />';\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":1860,"wires":[["f43d51df.370ea"]]},{"id":"ce365086.18e2","type":"mongodb out","z":"db41819e.e3d8f","mongodb":"8f55ecde.6f0a8","name":"","collection":"user_settings","payonly":true,"upsert":true,"multi":false,"operation":"update","x":1120,"y":1820,"wires":[]},{"id":"3c293eda.b1c572","type":"function","z":"db41819e.e3d8f","name":"query just the userid","func":"msg.query = {\"userid\" : msg.payload.userid  };\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1820,"wires":[["ce365086.18e2"]]},{"id":"98e81cd6.552ef","type":"function","z":"db41819e.e3d8f","name":"GENERATE SETTINGS","func":"msg.payload = {\n    \n    \"userid\" : msg.userid,\n    \"email\" : \"\",\n    \"phone\" : \"\",\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":2120,"wires":[["84758fb5.cf736"]]},{"id":"4cbdffdc.55837","type":"http response","z":"db41819e.e3d8f","name":"","statusCode":"","headers":{},"x":1430,"y":2540,"wires":[]},{"id":"f4595ebf.e3087","type":"http in","z":"db41819e.e3d8f","name":"","url":"/set_sub","method":"post","upload":false,"swaggerDoc":"","x":140,"y":2940,"wires":[["22cf7256.2e128e"]]},{"id":"92cd994b.09c0f8","type":"mongodb in","z":"db41819e.e3d8f","mongodb":"8f55ecde.6f0a8","name":"","collection":"subscriptions","operation":"find","x":780,"y":2480,"wires":[["2147a9dc.044246","3465fa13.b091e6"]]},{"id":"d0853df4.33eb7","type":"http in","z":"db41819e.e3d8f","name":"","url":"/edit_subs","method":"get","upload":false,"swaggerDoc":"","x":160,"y":2420,"wires":[["1c5036bd.1515e9"]]},{"id":"1c5036bd.1515e9","type":"function","z":"db41819e.e3d8f","name":"get all query","func":"//get the passed parameters into the payload\nmsg.userid = msg.payload.userid;\nmsg.params = msg.payload;\nmsg.payload = {  };\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":2420,"wires":[["92cd994b.09c0f8"]]},{"id":"2147a9dc.044246","type":"handlebars","z":"db41819e.e3d8f","name":"","sourceProperty":"payload","targetProperty":"payload","query":"\n<div id=\"debug\">\n    \n</div>\n\n{{#each this}}\n\n\n<div id=\"{{_id}}\" class=\"sub-block\" style=\"padding:3px;margin-bottom:10px; border-style:solid; border-width:1px; border-color:black;\">\n    \n    <form action=\"/set-sub\" method=\"post\">\n    id: {{_id}}<br><input id=\"_id\" name=\"_id\" value=\"{{_id}}\"><br>\n    userid: <input id=\"userid\" name=\"userid\" value=\"{{userid}}\"><br>\n    Started: {{start_date}}<input id=\"start_date\" name=\"start_date\" value=\"{{start_date}}\" type=\"hidden\">   <br>\n    Keywords: \n    {{#each kwset}}\n        _id:<input id=\"_id\" name=\"_id\" value=\"{{_id}}\">\n        feed:<input id = \"feed\" value=\"{{feed}}\">\n        feed:<input id = \"feed\" value=\"{{keyword}}\">\n        index:<input id= \"kwset_{{index}}\"  value={{index}}>\n        \n    {{/each}}\n    <br>\n    \n    Feeds:<br>\n    {{#each feeds}}\n        {{.}}<br>\n    {{/each}}\n    \n    </form>\n    \n<a href=\"/edit_sub?_id={{_id}}\">Edit Subcription</a>\n\n    \n    \n</div>\n\n\n{{/each}}\n\n\n","info":"`\n        <script>\n        document.getElementById('sub{{_id}}').addEventListener('click', function (cb){\n            \n            var rss = document.getElementById(\"rss{{_id}}\").value;\n            var theid = \"{{_id}}\";\n            \n            \n            var data = {\n                \"_id\" : theid,\n                \"rssfeed\" : rss\n            }\n        \n            \n            fetch(\"https://radarblip.io:18800/addfeed_url\", {\n                 method: 'post',\n                 body : JSON.stringify(data),\n                 method: 'POST', // *GET, POST, PUT, DELETE, etc.\n                 mode: 'cors', // no-cors, *cors, same-origin\n                 cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached\n                 credentials: 'same-origin', // include, *same-origin, omit\n                 headers: {\n                    'Content-Type': 'application/json'\n                        // 'Content-Type': 'application/x-www-form-urlencoded',\n                }\n                //redirect: 'follow', // manual, *follow, error\n                //referrerPolicy: 'no-referrer', // no-referrer, *client\n            })\n            .then(){\n                alert(this.responseText);\n            });\n            \n        });\n        \n    \n        \n    \n        </script>\n\n        \n        `","x":1030,"y":2400,"wires":[["4cbdffdc.55837"]]},{"id":"3465fa13.b091e6","type":"debug","z":"db41819e.e3d8f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":2560,"wires":[]},{"id":"240a8c63.2d9fd4","type":"mongodb in","z":"db41819e.e3d8f","mongodb":"8f55ecde.6f0a8","name":"","collection":"subscriptions","operation":"find","x":1020,"y":2880,"wires":[["f56b6ee4.58e9f","fd0c69bf.3afa68"]]},{"id":"50b71282.60227c","type":"http in","z":"db41819e.e3d8f","name":"","url":"/edit_sub","method":"get","upload":false,"swaggerDoc":"","x":130,"y":2840,"wires":[["d7fb1546.b568b8","22cf7256.2e128e"]]},{"id":"d7fb1546.b568b8","type":"function","z":"db41819e.e3d8f","name":"get all query","func":"//get the passed parameters into the payload\nmsg.userid = msg.payload.userid;\nmsg.params = msg.payload;\nmsg.payload = {\"_id\": msg.payload._id  };\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":2840,"wires":[["a239a8fc.538048"]]},{"id":"f56b6ee4.58e9f","type":"handlebars","z":"db41819e.e3d8f","name":"","sourceProperty":"payload","targetProperty":"payload","query":"<script\n  src=\"https://code.jquery.com/jquery-3.4.1.slim.min.js\"\n  integrity=\"sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=\"\n  crossorigin=\"anonymous\"></script>\n  \n  \n  \n<div id=\"debug\">\n    \n</div>\n\n{{#each this}}\n\n\n<div id=\"{{_id}}\" class=\"sub-block\" style=\"padding:3px;margin-bottom:10px; border-style:solid; border-width:1px; border-color:black;\">\n    \n    <form action=\"/set_sub\" method=\"post\">\n    Keyword Set: {{_id}}<br>\n    userid: {{userid}}<br>\n    Started: {{start_date}}<input id=\"start_date\" name=\"start_date\" value=\"{{start_date}}\" type=\"hidden\">   <br>\n    Keywords: <br>\n    \n    {{#each kwset}}\n        <input type=\"hidden\" name=\"kwset.keyword\" value=\"{{this.keyword}}\">\n        <div class=\"\" style=\"background-color:lightgrey; border-width:1px;border-color:lightblue;border-style:solid;\">\n        #:<input id=\"_id\" name=\"_id\" value=\"{{_id}}\"><br>\n        feed-{{_id}} :<input id = \"feed\" value=\"{{feed}}\"><br>\n        keyword-{{_id}} :<input id = \"feed_{{_id}}\" value=\"{{keyword}}\"><br>\n        index:<input id= \"kwset_{{_id}}\"  value={{_id}}><br>\n        </div>\n    {{/each}}\n    <br>\n   \n       \n        <button type=\"submit\">Save</button>\n    \n    </form>\n\n    <form action=\"/add_keyword\" method=\"post\">\n        Add a Keyword:\n        <input type=\"text\" name=\"keyword\" >\n        <input type=\"hidden\" name=\"userid\" value=\"{{userid}}\">\n        <button type=\"submit\">Add Keyword</button>\n        <input type=\"hidden\" name=\"_id\" value=\"{{this._id}}\">\n    </form>\n    \n    \n</div>\n\n\n{{/each}}\n\n\n<script>\n    \n    var jqxhr = $.post( \"https://radarblip.io:18800/testpost\", function() {\n         alert( \"success\" );\n    })\n  .done(function() {\n    alert( \"second success\" );\n  })\n  .fail(function() {\n    alert( \"error\" );\n  })\n  .always(function() {\n    alert( \"finished\" );\n  });\n \n// Perform other work here ...\n \n// Set another completion function for the request above\njqxhr.always(function() {\n  alert( \"second finished\" );\n});\n</script>\n\n\n\n\n","info":"`\n        <script>\n        document.getElementById('sub{{_id}}').addEventListener('click', function (cb){\n            \n            var rss = document.getElementById(\"rss{{_id}}\").value;\n            var theid = \"{{_id}}\";\n            \n            \n            var data = {\n                \"_id\" : theid,\n                \"rssfeed\" : rss\n            }\n        \n            \n            fetch(\"https://radarblip.io:18800/addfeed_url\", {\n                 method: 'post',\n                 body : JSON.stringify(data),\n                 method: 'POST', // *GET, POST, PUT, DELETE, etc.\n                 mode: 'cors', // no-cors, *cors, same-origin\n                 cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached\n                 credentials: 'same-origin', // include, *same-origin, omit\n                 headers: {\n                    'Content-Type': 'application/json'\n                        // 'Content-Type': 'application/x-www-form-urlencoded',\n                }\n                //redirect: 'follow', // manual, *follow, error\n                //referrerPolicy: 'no-referrer', // no-referrer, *client\n            })\n            .then(){\n                alert(this.responseText);\n            });\n            \n        });\n        \n    \n        \n    \n        </script>\n\n        \n        `","x":1050,"y":2780,"wires":[["4cbdffdc.55837"]]},{"id":"fd0c69bf.3afa68","type":"debug","z":"db41819e.e3d8f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1020,"y":3060,"wires":[]},{"id":"22cf7256.2e128e","type":"debug","z":"db41819e.e3d8f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":2940,"wires":[]},{"id":"a239a8fc.538048","type":"objectid","z":"db41819e.e3d8f","name":"","property":"payload._id","propertyType":"msg","x":650,"y":2840,"wires":[["240a8c63.2d9fd4"]]},{"id":"200b7d42.dbc3f2","type":"http in","z":"db41819e.e3d8f","name":"","url":"/testform","method":"get","upload":false,"swaggerDoc":"","x":310,"y":2620,"wires":[[]]},{"id":"c9556a97.06a708","type":"http response","z":"db41819e.e3d8f","name":"","statusCode":"","headers":{},"x":640,"y":2620,"wires":[]},{"id":"6f89050e.3f437c","type":"http in","z":"db41819e.e3d8f","name":"","url":"/add_keyword","method":"post","upload":false,"swaggerDoc":"","x":170,"y":3100,"wires":[["196bceb.0b3f431"]]},{"id":"6fd33f92.ae33b","type":"comment","z":"db41819e.e3d8f","name":"GOOGLE ALERT RSS MAKER","info":"We need to manually import google-alert-api module into\nnode-red via the ~/.node-red/settings.js file.\n\n","x":720,"y":3140,"wires":[]},{"id":"1b43d237.188d5e","type":"comment","z":"db41819e.e3d8f","name":"FEED THIS A KEYWORD via msg.payload","info":"Feed this a string value keyword via msg.payload\n, it will call a custom made node that creates\nan RSS feed.\n\nIf keyword exists, it will return the existing \nRSS feed url.","x":720,"y":3180,"wires":[]},{"id":"196bceb.0b3f431","type":"function","z":"db41819e.e3d8f","name":"get Keword Parameter","func":"\nmsg.payload = msg.payload.keyword;\nmsg.keyword = msg.payload.keyword;\nmsg.query._id = msg.payload._id;\nmsg.payload = \"'\" + msg.payload + \"'\";\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":3100,"wires":[["e63481f4.821da"]]},{"id":"1d961a0f.695d56","type":"mongodb out","z":"db41819e.e3d8f","mongodb":"8f55ecde.6f0a8","name":"","collection":"subscriptions","payonly":false,"upsert":false,"multi":false,"operation":"update","x":1480,"y":3140,"wires":[]},{"id":"e63481f4.821da","type":"exec","z":"db41819e.e3d8f","command":"node /home/ubuntu/ga-gen/rss ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"FEED MEE SEED-MORE!","x":730,"y":3220,"wires":[["1afa740a.beb71c","fd0c69bf.3afa68"],[],[]]},{"id":"f8222207.0966","type":"function","z":"db41819e.e3d8f","name":"","func":"msg.feed = msg.payload;\n\nmsg.payload = { $push: { \"kwset\": {\"keyword\":msg.keyword, \"feed\": msg.feed }, \"keywords\": msg.keyword } , \"feeds\": msg.feed}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":3280,"wires":[["1d961a0f.695d56","d7fb1546.b568b8"]]},{"id":"1afa740a.beb71c","type":"switch","z":"db41819e.e3d8f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":3300,"wires":[["f8222207.0966"],[]]},{"id":"f3a22c23.00745","type":"comment","z":"db41819e.e3d8f","name":"Future Functions","info":"","x":140,"y":2800,"wires":[]},{"id":"62d9e605.4ea6d8","type":"comment","z":"db41819e.e3d8f","name":"WARNING SOME ENDPOINTS ARE NOT COMPLETELY FUNCTIONAL","info":"","x":510,"y":2220,"wires":[]}]