main.json
[{"id":"307e6eeb.744fa2","type":"tab","label":"MAIN","disabled":false,"info":""},{"id":"720bbadb.38b704","type":"function","z":"307e6eeb.744fa2","name":"SMS","func":"\n    flow.set('smsOnOff', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":240,"wires":[[]]},{"id":"941e95d7.014288","type":"inject","z":"307e6eeb.744fa2","name":"SMS ON","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":196.00000762939453,"y":216.71428728103638,"wires":[["720bbadb.38b704"]]},{"id":"2209d789.170d78","type":"inject","z":"307e6eeb.744fa2","name":"SMS OFF","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":197,"y":248,"wires":[["720bbadb.38b704"]]},{"id":"54bfd47a.66b07c","type":"function","z":"307e6eeb.744fa2","name":"EMAIL","func":"\n   flow.set('emailOnOff', msg.payload);\n   // flow.set('emailOnOff', 'on');\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":320,"wires":[[]]},{"id":"a950ff6f.60062","type":"inject","z":"307e6eeb.744fa2","name":"Email ON","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200.7856674194336,"y":288.428569316864,"wires":[["54bfd47a.66b07c"]]},{"id":"5aeaab4e.b11254","type":"inject","z":"307e6eeb.744fa2","name":"Email OFF","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":201.78567504882812,"y":319.71428537368774,"wires":[["54bfd47a.66b07c"]]},{"id":"6dd7973d.6d9e08","type":"function","z":"307e6eeb.744fa2","name":"Flow Settings / Set these defaults","func":"//default settings\n\n//This is how you set flow scope variables:\n//flow.set('emailOnOff', 'on'); //Send Email?\n//flow.set('smsOnOff', 'off');  //Send SMS? Defaults OFF\nflow.set('outboundPhone', '5555555555'); //Twilio Phone Number\nflow.set('recipientPhone', '5551234568'); //Recipient Phone Number\n\nflow.set('techphone','5555555555');  //Technical notifications when RSS gen goes down.\n//flow.set('recipientEmail', 'your@email');\n\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":120,"wires":[[]]},{"id":"70206c8e.ca7684","type":"inject","z":"307e6eeb.744fa2","name":"init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":179.99999891008656,"y":120.0000008174352,"wires":[["6dd7973d.6d9e08"]]},{"id":"a4b5c30.6f0794","type":"comment","z":"307e6eeb.744fa2","name":"startup actions:","info":"","x":200,"y":80,"wires":[]},{"id":"b26dcf1d.e06d9","type":"comment","z":"307e6eeb.744fa2","name":"PSEUDO CONTROLS (Not used anymore)","info":"","x":260,"y":180,"wires":[]},{"id":"65bc537b.7df35c","type":"comment","z":"307e6eeb.744fa2","name":"Rate Limit (Click me)","info":"Rate limit with drop messages is so you don't get flooded with messages all at once when you input a new RSS feed. Sometimes there are multiple elements in the RSS that can do a flooding effect on the outgoind SMS or Emails. The File Write is not flooded and should catch all activity that was parsed.  ","x":4790,"y":1620,"wires":[]},{"id":"9debaa14.dc7748","type":"link in","z":"307e6eeb.744fa2","name":"IN Feed","links":["492d7000.588a6","8b045758.b0f628","91b00d7d.9ee86"],"x":2095,"y":1100,"wires":[["1d6dba18.bb87b6"]]},{"id":"72e9379e.1774e8","type":"link in","z":"307e6eeb.744fa2","name":"sms in","links":["cebc7b2d.38ecc8","7333c089.dfbf"],"x":335,"y":200,"wires":[["720bbadb.38b704"]]},{"id":"2c1d1787.13de08","type":"link in","z":"307e6eeb.744fa2","name":"email in","links":["36a6d66c.75e86a","3ec46e16.4c7282"],"x":335,"y":280,"wires":[["54bfd47a.66b07c"]]},{"id":"5f80fbee.cb3a64","type":"comment","z":"307e6eeb.744fa2","name":"Parsey McFunTime - Channel General Info","info":"","x":740,"y":760,"wires":[]},{"id":"1491a9a0.1f22f6","type":"e-mail","z":"307e6eeb.744fa2","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":4930,"y":1660,"wires":[]},{"id":"4ce03a10.95bba4","type":"function","z":"307e6eeb.744fa2","name":"Format For EMAIL","func":"\n\nmsg.payload = msg.article.title.replace(\"<b>\",\"\").replace(\"</b>\",\"\").replace(\"&#39\", \"'\") +\"\\n\\nKeyword: [\" + msg.kwset.keyword + \"]\\nSource: \"  + msg.shorturl + \"\\n\\n\" + \"View: \" + \"https://radar-blip.com/my-blips\";\nmsg.topic = \"RadarBlip: [\" + msg.kwset.keyword + \"] : \" + msg.article.title.replace(\"<b>\",\"\").replace(\"</b>\",\"\").replace(\"&#39\", \"'\");\n\nmsg.to = msg.email_out;\n\nreturn msg;","outputs":1,"noerr":0,"x":4590,"y":1660,"wires":[["9165c192.97969"]]},{"id":"9165c192.97969","type":"delay","z":"307e6eeb.744fa2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":4780,"y":1660,"wires":[["1491a9a0.1f22f6"]]},{"id":"f7979b33.ec4438","type":"comment","z":"307e6eeb.744fa2","name":"Storage OutBound - FEEDS","info":"","x":4280,"y":1040,"wires":[]},{"id":"70ae94f1.04694c","type":"function","z":"307e6eeb.744fa2","name":"Prep Payload and ID","func":"//ALL CODE BELOW IS NO LONGER NEEDED WITH \n//THE USE OF THE MORE FLEXIBLE MONGODB NODE:\n// node-red-node-mongodb\n\n//msg.db_url=\"mongodb://localhost:27017/\";\n//msg.db_name=\"carproj_db\";\n//msg.db_collection=\"feeds\";\n\n\n//converts elements from the msg object to the\n// msg.payload for delivery to the DB.\n// msg.oldpayload = msg.payload;\n// msg.payload = {};\n// msg.payload.subject = msg.subject;\n// msg.payload.sourcey = msg.sourcey;\n// msg.payload.longurl =msg.longurl;\n// msg.payload.article = msg.article;\n// msg.payload.shorturl = msg.shorturl;\n// msg.payload.topic = msg.topic;\n// msg.payload.date = Date();\n\nmsg.logged_date = Date.now();\n\nmsg.userid = msg.original.userid;\n\nmsg.collection = \"USER_FEEDS_\" + msg.userid;\n\nmsg.payload = {\n    _id : msg._id,\n    article :msg.article,\n    logged_date: Date.now(),\n    feed_url: msg.topic,\n    userid : msg.original.userid,\n    shorturl : msg.shorturl,\n    feedinfo: msg.feedinfo,\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":4240,"y":1080,"wires":[["3c6636d4.aaf11a"]]},{"id":"aff83b55.7c66d8","type":"function","z":"307e6eeb.744fa2","name":"Strip Links from HTML","func":"\n    \n    //remove all anchor tags:\n     msg.tocheck = msg.tocheck.replace(/<a.*>.*?<\\/a>/ig,'');\n     msg.tocheck = msg.tocheck.replace(/<form .*>.*?<\\/form>/ig,'');\n     msg.tocheck = msg.tocheck.replace(/<head .*>.*?<\\/head>/ig,'');\n     msg.tocheck = msg.tocheck.replace(/<link .*>.*?<\\/link>/ig,'');\n     msg.tocheck = msg.tocheck.replace(/<img .*>.*?>/ig,'');\n     msg.tocheck = msg.tocheck.replace(/<script .*>.*?>/ig,'');\n    //SOME HTML TAGS ARE LEAKING KEYWORDS... TRYING ABOVE METHODS\n    msg.tocheck = JSON.stringify(msg.tocheck).replace(/(?:https?|ftp):\\/\\/[\\n\\S]+/g, \"\");\n    \nreturn msg;","outputs":1,"noerr":0,"x":2280,"y":1240,"wires":[["71e5b1d5.d9626"]]},{"id":"d83833bd.6af11","type":"inject","z":"307e6eeb.744fa2","name":"Erase ALL THE DB","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":420,"wires":[[]]},{"id":"886641ff.c47f4","type":"function","z":"307e6eeb.744fa2","name":"ERASE ALL DATA IN DB!!","func":"msg.db_url=\"mongodb://localhost:27017/\";\nmsg.db_name=\"carproj_db\";\nmsg.db_collection=\"feeds\";\nmsg.payload={};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":420,"wires":[["3f03496.c6a4cb6"]]},{"id":"3c6636d4.aaf11a","type":"mongodb out","z":"307e6eeb.744fa2","mongodb":"8f55ecde.6f0a8","name":"","collection":"","payonly":true,"upsert":true,"multi":false,"operation":"store","x":4500,"y":1080,"wires":[]},{"id":"5636d390.82328c","type":"link in","z":"307e6eeb.744fa2","name":"VIVA DB","links":[],"x":4415,"y":1040,"wires":[["3c6636d4.aaf11a"]]},{"id":"3f03496.c6a4cb6","type":"mongodb out","z":"307e6eeb.744fa2","mongodb":"8f55ecde.6f0a8","name":"","collection":"feeds","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":740,"y":420,"wires":[]},{"id":"57010910.d29728","type":"comment","z":"307e6eeb.744fa2","name":"begin - User Controls / Interface --->","info":"","x":240,"y":20,"wires":[]},{"id":"6a9a4a7d.6c20d4","type":"comment","z":"307e6eeb.744fa2","name":"<-----   The Sieve.  ----->","info":"","x":2280,"y":1200,"wires":[]},{"id":"ff53ab85.9298c8","type":"comment","z":"307e6eeb.744fa2","name":"Erase - WARNING KEEP DISCONNECTED TO AVOID ACCIDENTAL DB DELETION!!!","info":"","x":410,"y":380,"wires":[]},{"id":"1d6dba18.bb87b6","type":"delay","z":"307e6eeb.744fa2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2070,"y":1240,"wires":[["aff83b55.7c66d8"]]},{"id":"a2fab97f.f36ac8","type":"comment","z":"307e6eeb.744fa2","name":"SQEZ.IT URL SHORTENER","info":"","x":2980,"y":1200,"wires":[]},{"id":"39bae10d.21c01e","type":"function","z":"307e6eeb.744fa2","name":"save short url and restore msg","func":"msg.shorturl = JSON.parse(msg.payload).shorturl;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":3570,"y":1240,"wires":[["d3064179.23fc5"]]},{"id":"71e5b1d5.d9626","type":"function","z":"307e6eeb.744fa2","name":"Extract KEYWORDS","func":"///KEYWORDS\n//THESE WILL NEED TO GRAB THE ATTACHED KEYWORDS ARRAY FROM THE MSG, For unique users\n//with unique keywords.\n\n\n//There are manual entry for now\n//msg.keywords = [\"secureworks\",\"gartner\",\"herjavec group\",\"forrester\",\"techcrunch\"];\nmsg.keywords = msg.original.keywords;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":2500,"y":1240,"wires":[["e4683dbb.c8842"]]},{"id":"837556be.c32318","type":"debug","z":"307e6eeb.744fa2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":200,"wires":[]},{"id":"a15ddc87.72fe7","type":"catch","z":"307e6eeb.744fa2","name":"","scope":null,"uncaught":true,"x":760,"y":200,"wires":[["837556be.c32318"]]},{"id":"cbfac3d3.d8b6e","type":"comment","z":"307e6eeb.744fa2","name":"CATCH ALL ERRORS DEBUGGING","info":"","x":980,"y":160,"wires":[]},{"id":"89e689c6.f96158","type":"inject","z":"307e6eeb.744fa2","name":"","topic":"","payload":"test","payloadType":"str","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":560,"wires":[["989b53d8.a5c2e"]]},{"id":"fd62cf7e.ffe5b","type":"mongodb in","z":"307e6eeb.744fa2","mongodb":"8f55ecde.6f0a8","name":"Get All Subscriptions from DB","collection":"subscriptions","operation":"find","x":230,"y":680,"wires":[["4d649051.ed17c"]]},{"id":"989b53d8.a5c2e","type":"function","z":"307e6eeb.744fa2","name":"Get All Subscriptions (DB Query)","func":"msg.payload = {\"userid\": \"admin\"};\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":640,"wires":[["fd62cf7e.ffe5b"]]},{"id":"4d649051.ed17c","type":"split","z":"307e6eeb.744fa2","name":"split each Subscription in db","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload","x":220,"y":720,"wires":[["37c1b864.20ee98"]]},{"id":"4b09733e.a2ab3c","type":"split","z":"307e6eeb.744fa2","name":"Split all the kwset URLS.","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":210,"y":800,"wires":[["bf700d87.b2815"]]},{"id":"37c1b864.20ee98","type":"function","z":"307e6eeb.744fa2","name":"preserve original","func":"msg.original = msg.payload;\nmsg.payload = msg.payload.kwset;\n//msg.keywords = msg.payload.keywords;\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":760,"wires":[["4b09733e.a2ab3c"]]},{"id":"bf700d87.b2815","type":"function","z":"307e6eeb.744fa2","name":"RSS feed link to topic","func":"msg.kwset = msg.payload;\nmsg.payload = msg.payload.feed;\nmsg.url = msg.kwset.feed;\nmsg.userid = msg.original.userid;\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":840,"wires":[["45e3dfd0.d97dd"]]},{"id":"b508f47b.bd02d8","type":"comment","z":"307e6eeb.744fa2","name":"Subscriptions feed checker","info":"","x":200,"y":460,"wires":[]},{"id":"30bee476.5b724c","type":"comment","z":"307e6eeb.744fa2","name":"init article","info":"","x":860,"y":800,"wires":[]},{"id":"2969255a.9585da","type":"function","z":"307e6eeb.744fa2","name":"create article","func":"msg.article = {};\nmsg.article = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":880,"wires":[["27fcf1bf.921f5e"]]},{"id":"973ff51e.3931a8","type":"http request","z":"307e6eeb.744fa2","name":"Get Source Data","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":1570,"y":1060,"wires":[["267fd212.7d284e"]]},{"id":"be2c2c01.371a6","type":"comment","z":"307e6eeb.744fa2","name":"check the link provided","info":"","x":1560,"y":1020,"wires":[]},{"id":"90823d73.935f5","type":"function","z":"307e6eeb.744fa2","name":"make msg.url = article.link","func":"\n\n\n//refine the url:\n//by pass Google's redirector / tracker\nmsg.url = msg.article.link.substring( msg.article.link.indexOf('url=')+4, msg.article.link.indexOf('&ct'));\n\n\n\n\n// if(typeof(msg.article.link)!== undefined ){\n//     msg.url = msg.article.link;\n//   return [ msg,null]; \n// }else {\n//     return [null,msg];\n// }\n\n\nmsg.headers = {\n    \"connection\":\"keep-alive\",\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":940,"wires":[["4a0c03f7.189b5c"]]},{"id":"267fd212.7d284e","type":"function","z":"307e6eeb.744fa2","name":"strip the html of all urls","func":"msg.tocheck = msg.payload;\nmsg.tocheck.replace(/(?:https?|ftp):\\/\\/[\\n\\S]+/g, '');\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1820,"y":1060,"wires":[["492d7000.588a6"]]},{"id":"492d7000.588a6","type":"link out","z":"307e6eeb.744fa2","name":"","links":["9debaa14.dc7748"],"x":2055,"y":1100,"wires":[]},{"id":"8ae45a8a.2d8358","type":"link in","z":"307e6eeb.744fa2","name":"CHECK FEEDS in ALL SUBSCRIPTIONS","links":["314cdf0c.2e617","2d675fe4.846e","5d03359e.fe823c","77ce5da6.a68d74"],"x":55,"y":620,"wires":[["989b53d8.a5c2e"]]},{"id":"59758d9c.a0fd44","type":"function","z":"307e6eeb.744fa2","name":"the API url","func":"\nmsg.url = \"https://< ADD yourls-squeez-domain.com HERE >/yourls-api.php?action=shorturl&signature=< ADD YOUR CREDENTAILS!!! >&url=\" + encodeURI(msg.article.link) + \"&format=json\";\nmsg.headers = {\n    \n\"connection\" : \"keep-alive\"\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":2970,"y":1240,"wires":[["e70f4441.2867d8"]]},{"id":"e4683dbb.c8842","type":"function","z":"307e6eeb.744fa2","name":"Filter 3.1 & Count Occurences","func":"\nmsg.feedinfo = {\n    \"matched_keywords\" : [],\n    \"matched_count\":0,\n}\n \n  \nfunction occurrences(string, subString, allowOverlapping) {\n\n    string += \"\";\n    subString += \"\";\n    if (subString.length <= 0) return (string.length + 1);\n\n    var n = 0,\n        pos = 0,\n        step = allowOverlapping ? 1 : subString.length;\n\n    while (true) {\n        pos = string.indexOf(subString, pos);\n        if (pos >= 0) {\n            ++n;\n            pos += step;\n        } else break;\n    }\n    return n;\n}\n\n\nmsg.keywords.forEach(kw =>{\n    \n    var count = occurrences(msg.tocheck.toLowerCase(), kw.toLowerCase(), false);\n    if(count > 0){\n        msg.feedinfo.matched_keywords.push({\"name\": kw, \"counts\": count});\n    }\n});\n\nif(msg.feedinfo.matched_keywords.length <= 0) {\n     msg.feedinfo.matched_keywords.push({\"name\": msg.kwset.keyword, \"counts\":\"1\"});\n}\n\n\n// var count = occurrences(msg.tocheck, msg.kwset.keyword, false);\n\n// msg.feedinfo.matched_keywords.push\n\n\n//     msg.keywords.forEach(kw => {\n//         var count = occurrences(msg.tocheck,kw, true);\n//         if(count > 0){\n//             msg.feedinfo.matched_keywords.push({\"name\": kw, \"counts\": count });\n//         }\n//     });\n    \n\n    return [msg,null];\n\n\n\n","outputs":1,"noerr":0,"x":2750,"y":1240,"wires":[["59758d9c.a0fd44"]]},{"id":"5d03359e.fe823c","type":"link out","z":"307e6eeb.744fa2","name":"","links":["8ae45a8a.2d8358"],"x":4555,"y":1180,"wires":[]},{"id":"dfc4c5e9.2307d8","type":"inject","z":"307e6eeb.744fa2","name":"SUBSC PROC TRIGGER","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4570,"y":1240,"wires":[["5d03359e.fe823c"]]},{"id":"551845b0.6ad0cc","type":"http request","z":"307e6eeb.744fa2","name":"Get RSS Feed","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":580,"y":840,"wires":[["c8471442.762ad8"]]},{"id":"b73960e7.96f4c","type":"switch","z":"307e6eeb.744fa2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Error: socket hang up","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":3350,"y":1240,"wires":[[],["39bae10d.21c01e"]]},{"id":"82912548.d97ca8","type":"twilio out","z":"307e6eeb.744fa2","twilio":"dc1c46f2.671f78","twilioType":"sms","url":"","number":"","name":"","x":4730,"y":1540,"wires":[]},{"id":"40aabcea.c51ca4","type":"comment","z":"307e6eeb.744fa2","name":"BETA TESTING PATH FOR PER USER / PER KEYWORD ALERTS","info":"","x":3970,"y":1480,"wires":[]},{"id":"788218c.602a1e8","type":"function","z":"307e6eeb.744fa2","name":"Prep Check and Query user settings to get phone and email","func":"msg.payload = {\"userid\": msg.userid };\nmsg.collection = \"user_settings\";\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":4000,"y":1520,"wires":[["5621bc22.afe3e4"]]},{"id":"5621bc22.afe3e4","type":"mongodb in","z":"307e6eeb.744fa2","mongodb":"8f55ecde.6f0a8","name":"","collection":"user_settings","operation":"find","x":4180,"y":1560,"wires":[["da650317.bf07f"]]},{"id":"da650317.bf07f","type":"function","z":"307e6eeb.744fa2","name":"tac user-prefs to msg obj","func":"msg.topic = msg.payload[0].phone;\nmsg.email_out = msg.payload[0].email;\nreturn msg;","outputs":1,"noerr":0,"x":4270,"y":1600,"wires":[["107b3f20.651b61","81eb57a9.654ff8"]]},{"id":"77ce5da6.a68d74","type":"link out","z":"307e6eeb.744fa2","name":"","links":["8ae45a8a.2d8358"],"x":1295,"y":600,"wires":[]},{"id":"da22646a.2e82b8","type":"inject","z":"307e6eeb.744fa2","name":"SUBSC PROC TRIGGER","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1290,"y":620,"wires":[["77ce5da6.a68d74"]]},{"id":"45e3dfd0.d97dd","type":"delay","z":"307e6eeb.744fa2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":840,"wires":[["551845b0.6ad0cc"]]},{"id":"107b3f20.651b61","type":"switch","z":"307e6eeb.744fa2","name":"is SMS on?","property":"kwset.sms","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":4490,"y":1580,"wires":[["4663cbb0.a17414"],[]]},{"id":"81eb57a9.654ff8","type":"switch","z":"307e6eeb.744fa2","name":"is Email On?","property":"kwset.email","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":4490,"y":1620,"wires":[["4ce03a10.95bba4"],[]]},{"id":"4663cbb0.a17414","type":"function","z":"307e6eeb.744fa2","name":"Format for SMS","func":"\n\n\n\nmsg.payload = \"RadarBlip: \\nKeyword: [\" + msg.kwset.keyword + \" x\" + msg.feedinfo.matched_keywords[0].counts + \"] \\nSource: \" + msg.shorturl + \"\\n\\n\" + msg.article.title.replace(\"<b>\",\"\").replace(\"</b>\",\"\").replace(\"&#39\", \"'\") + \"\\n\\nView Your Blips: \" + \"https://radar-blip.com/my-blips\";\n\nmsg.payload.replace(\"&#39;\",\"'\");\nmsg.payload.replace(\"&amp;\",\"&\");\nmsg.payload.replace(\"&#33;\",\"!\");\nmsg.payload.replace('&#34;','\"');\nmsg.payload.replace('&#35;','#');\nmsg.payload.replace('&#36;','$');\nmsg.payload.replace('&#37;','%');\nmsg.payload.replace('&#38;','&');\nmsg.payload.replace('&#39;','#');\nmsg.payload.replace('&#40;','(');\nmsg.payload.replace('&#41;',')');\nmsg.payload.replace('&#42;','*');\nmsg.payload.replace('&#43;','+');\nmsg.payload.replace('&#44;',',');\nmsg.payload.replace('&#45;','-');\nmsg.payload.replace('&#46;','.');\n\n\n\n\t\nreturn msg;","outputs":1,"noerr":0,"x":4580,"y":1540,"wires":[["82912548.d97ca8"]]},{"id":"e70f4441.2867d8","type":"https-node","z":"307e6eeb.744fa2","name":"","method":"GET","ret":"txt","url":"","authorized":false,"agent":false,"x":3190,"y":1240,"wires":[["b73960e7.96f4c"]]},{"id":"c8471442.762ad8","type":"cheerio","z":"307e6eeb.744fa2","name":"","tag":"entry","ret":"object","as":"single","map":[{"search":"title","ret":"text","replace":"title","attr":""},{"search":"link","ret":"attribute","replace":"link","attr":"href"},{"search":"id","ret":"text","replace":"id","attr":""},{"search":"published","ret":"text","replace":"published","attr":""},{"search":"updated","ret":"text","replace":"updated","attr":""},{"search":"content","ret":"text","replace":"content","attr":""}],"xmlMode":true,"decodeEntities":true,"lowerCaseTags":false,"lowerCaseAttributeNames":false,"recognizeCDATA":true,"recognizeSelfClosing":false,"x":750,"y":840,"wires":[["797a1c85.c4f824"]]},{"id":"797a1c85.c4f824","type":"split","z":"307e6eeb.744fa2","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":770,"y":880,"wires":[["2969255a.9585da"]]},{"id":"4a0c03f7.189b5c","type":"delay","z":"307e6eeb.744fa2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1410,"y":1060,"wires":[["973ff51e.3931a8"]]},{"id":"7098da88.6d1fd4","type":"function","z":"307e6eeb.744fa2","name":"","func":"if(msg.payload.length > 0){\n    return [msg,null];\n}else\n{\n    return [null, msg];\n}","outputs":2,"noerr":0,"x":1150,"y":980,"wires":[["90823d73.935f5"],["a2311807.895d18"]]},{"id":"88395965.d30128","type":"mongodb in","z":"307e6eeb.744fa2","mongodb":"8f55ecde.6f0a8","name":"CHECKS FOR DUPLICATES BEFORE PROCESSING","collection":"","operation":"find","x":900,"y":1040,"wires":[["7098da88.6d1fd4"]]},{"id":"27fcf1bf.921f5e","type":"function","z":"307e6eeb.744fa2","name":"","func":"//set mongo query to ask for a specific _id:\nmsg.collection = \"USER_FEEDS_\" + msg.userid;\n//msg._id = msg.article.title.replace(/[^a-zA-Z ]/g, \"\");\n\n\nmsg.DEBUG = msg.url;\n\nmsg._id = msg.article.id.split(\"feed:\")[1];\n\n\n\n\n\n// msg._id.replace(\":\",\"\");\n// msg._id.replace(\",\",\"\");\n// msg._id.replace(\"/\",\"\");\n// msg._id.replace(' ','');\n// msg._id.replace('.','');\n// msg._id.replace('$','');\n\n\n\nmsg.payload = {\"_id\" : msg._id };\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1040,"wires":[["88395965.d30128"]]},{"id":"86587e53.b4aa4","type":"debug","z":"307e6eeb.744fa2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1570,"y":1200,"wires":[]},{"id":"a2311807.895d18","type":"template","z":"307e6eeb.744fa2","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Duplicate!","output":"str","x":1320,"y":1200,"wires":[["b387576b.ee9a28"]]},{"id":"b387576b.ee9a28","type":"switch","z":"307e6eeb.744fa2","name":"","property":"original.userid","propertyType":"msg","rules":[{"t":"eq","v":"admin","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1450,"y":1200,"wires":[["86587e53.b4aa4"]]},{"id":"d3064179.23fc5","type":"function","z":"307e6eeb.744fa2","name":"Junction Function ","func":"\nreturn msg;","outputs":1,"noerr":0,"x":3850,"y":1240,"wires":[["70ae94f1.04694c","788218c.602a1e8"]]},{"id":"dc1c46f2.671f78","type":"twilio-api","z":"","name":"","sid":"","from":""}]