payment-webhook.json
[{"id":"b678f264.d9187","type":"tab","label":"Payment Webhook","disabled":false,"info":""},{"id":"228b2673.34d63a","type":"mongodb out","z":"b678f264.d9187","mongodb":"8f55ecde.6f0a8","name":"","collection":"subscriptions","payonly":true,"upsert":false,"multi":false,"operation":"store","x":2740,"y":160,"wires":[]},{"id":"f5b938dd.51e6e8","type":"function","z":"b678f264.d9187","name":"AFTER CONFIRMATION : LOAD DATABASE WITH ACTIVE SUBSCRIPTION DATA","func":"//payload will be a subscriber active object // with a timestamp to measure a duration\n\nlet out = {};\n\n\nout = {\n    \"keywords\" : msg.keywords,\n    \"feeds\" : [],\n    \"userid\" : msg.meta.userid,\n  // \"receipt_url\" : msg.payload.data.object.receipt_url,\n   \"start_date\" : new Date(),\n    //\"expires\" : Date() ,\n  //  \"active\" : true,\n  // \"keywords_are_set\" : true,\n  \n};\nmsg.output = out;\n\n// //Keyword Assignment to payload.\n\n\nmsg.payload = out;\n\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":220,"wires":[["248aa20c.dea89e"]]},{"id":"e70fb060.947b2","type":"http response","z":"b678f264.d9187","name":"","statusCode":"","headers":{},"x":690,"y":140,"wires":[]},{"id":"b18f9546.c09998","type":"template","z":"b678f264.d9187","name":"Reply back to Stripe Webhook","field":"outbound","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"OK","output":"str","x":490,"y":140,"wires":[["e70fb060.947b2"]]},{"id":"9304bf8b.765ec","type":"comment","z":"b678f264.d9187","name":"STRIPE WEB-HOOK","info":"Checks if payment was successfull,  assigns a \n\"tier\" and adds the \"subscription\" instance to \nthe database , \"subscriptions\" colleciton specifically,\n\nThe subscriptions will be used to store all \ninstances even if customer has multiple instances of say 10 keywords etc.","x":190,"y":240,"wires":[]},{"id":"248aa20c.dea89e","type":"function","z":"b678f264.d9187","name":"Set Target DB","func":"\nmsg.collection=\"subscriptions\";\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1540,"y":260,"wires":[["b6a4b1a0.54964"]]},{"id":"a210682b.9a4c58","type":"function","z":"b678f264.d9187","name":"attache msg.meta data","func":"msg.meta = RED.util.cloneMessage(msg.payload.data.object.metadata);\n//msg.meta = JSON.parse(JSON.stringify(msg.payload.data.object.metadata));\n//msg.stripe_obj = JSON.parse(JSON.stringify(msg.payload.data.object));\nmsg.keywords = [];\n\n\n\n//Grab any keywords and jam em into the msg.keywords array\nif(msg.meta.keyword1){msg.keywords.push(msg.meta.keyword1);}\nif(msg.meta.keyword2){msg.keywords.push(msg.meta.keyword2);}\nif(msg.meta.keyword3){msg.keywords.push(msg.meta.keyword3);}\nif(msg.meta.keyword4){msg.keywords.push(msg.meta.keyword4);}\nif(msg.meta.keyword5){msg.keywords.push(msg.meta.keyword5);}\nif(msg.meta.keyword6){msg.keywords.push(msg.meta.keyword6);}\nif(msg.meta.keyword7){msg.keywords.push(msg.meta.keyword7);}\nif(msg.meta.keyword8){msg.keywords.push(msg.meta.keyword8);}\nif(msg.meta.keyword9){msg.keywords.push(msg.meta.keyword9);}\nif(msg.meta.keyword10){msg.keywords.push(msg.meta.keyword10);}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["1ba5a33b.62af4d"]]},{"id":"1ba5a33b.62af4d","type":"function","z":"b678f264.d9187","name":"CHECK FOR APPROVAL","func":"//IF\n//Pass along the msg Only If Stripe tells us the payment is successful:\n//Else msg goes to the 2nd output of this function.\nif(msg.payload.type == \"checkout.session.completed\") {\n    return [msg,null];\n}else{\n    return [null, msg];\n}","outputs":2,"noerr":0,"x":730,"y":260,"wires":[["f5b938dd.51e6e8"],[]]},{"id":"cde9d4e8.ea9c68","type":"comment","z":"b678f264.d9187","name":"GOOGLE ALERT RSS MAKER","info":"We need to manually import google-alert-api module into\nnode-red via the ~/.node-red/settings.js file.\n\n","x":1920,"y":400,"wires":[]},{"id":"a3eabeeb.a9599","type":"exec","z":"b678f264.d9187","command":"node /home/ubuntu/ga-gen/rss ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"FEED MEE SEED-MORE!","x":1930,"y":480,"wires":[["b9d2c3c.6b5224"],[],[]]},{"id":"c54ba156.ccad5","type":"comment","z":"b678f264.d9187","name":"FEED THIS A KEYWORD via msg.payload","info":"Feed this a string value keyword via msg.payload\n, it will call a custom made node that creates\nan RSS feed.\n\nIf keyword exists, it will return the existing \nRSS feed url.","x":1920,"y":440,"wires":[]},{"id":"b6a4b1a0.54964","type":"function","z":"b678f264.d9187","name":"split & nod","func":"msg.payload= msg.output.keywords;\n\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":260,"wires":[["82ffafbe.b04c1"]]},{"id":"eb429531.703598","type":"comment","z":"b678f264.d9187","name":"Iterate Keywords","info":"","x":1700,"y":220,"wires":[]},{"id":"82ffafbe.b04c1","type":"split","z":"b678f264.d9187","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload","x":1710,"y":300,"wires":[["395d21c4.da8d4e"]]},{"id":"7d4f3e2a.67117","type":"http in","z":"b678f264.d9187","name":"","url":"/stripe-webhook","method":"post","upload":false,"swaggerDoc":"","x":200,"y":280,"wires":[["a210682b.9a4c58","b18f9546.c09998"]]},{"id":"f42fc817.4a1cb8","type":"inject","z":"b678f264.d9187","name":"Simulator","topic":"","payload":"{\"id\":\"evt_1GQSITBBHTJgZ6Vay7oHhlOC\",\"object\":\"event\",\"api_version\":\"2020-03-02\",\"created\":1585116061,\"data\":{\"object\":{\"id\":\"cs_test_9r5fRay9gbCv25u5emgQ540DlrWxwY4vAlgUT1sDI17zEmnLMz4r6Hj4\",\"object\":\"checkout.session\",\"billing_address_collection\":\"auto\",\"cancel_url\":\"https://radar-blip.com/subscribe/10-keyword-monitoring\",\"client_reference_id\":\"106\",\"customer\":\"cus_GyP6xZY8tDGjSf\",\"customer_email\":\"admin@radar-blip.com\",\"display_items\":[{\"amount\":2999,\"currency\":\"usd\",\"plan\":{\"id\":\"wpf_4080_recurring_payment_item_2999_month_0_USD\",\"object\":\"plan\",\"active\":true,\"aggregate_usage\":null,\"amount\":2999,\"amount_decimal\":\"2999\",\"billing_scheme\":\"per_unit\",\"created\":1584849052,\"currency\":\"usd\",\"interval\":\"month\",\"interval_count\":1,\"livemode\":false,\"metadata\":{\"form_id\":\"4080\",\"element_id\":\"recurring_payment_item\",\"wp_plugin\":\"wppayform\"},\"nickname\":null,\"product\":\"wpf_4080_recurring_payment_item_2999_month_0_USD\",\"tiers\":null,\"tiers_mode\":null,\"transform_usage\":null,\"trial_period_days\":null,\"usage_type\":\"licensed\"},\"quantity\":1,\"type\":\"plan\"}],\"livemode\":false,\"locale\":\"auto\",\"metadata\":{\"Submission ID\":\"106\",\"Form ID\":\"4080\",\"customer_email\":\"admin@radar-blip.com\",\"customer_name\":\"admin\",\"keyword1\":\"computers\",\"keyword2\":\"satellites\",\"keyword3\":\"space\",\"keyword4\":\"cosmos\",\"keyword5\":\"coffee\",\"keyword6\":\"sailing\",\"keyword7\":\"mars\",\"keyword8\":\"jupiter\",\"keyword9\":\"neptune\",\"keyword10\":\"pluto\",\"tier\":\"10\",\"userid\":\"1\"},\"mode\":\"subscription\",\"payment_intent\":null,\"payment_method_types\":[\"card\"],\"setup_intent\":null,\"shipping\":null,\"shipping_address_collection\":null,\"submit_type\":null,\"subscription\":\"sub_GyP6w3FqhOHTvl\",\"success_url\":\"https://radar-blip.com/?wpf_page=frameless&wpf_action=stripe_hosted_success&wpf_hash=wpf_15851160485e7af390d9d96704\"}},\"livemode\":false,\"pending_webhooks\":4,\"request\":{\"id\":\"req_qUi7HrueGMwJzt\",\"idempotency_key\":null},\"type\":\"checkout.session.completed\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":160,"wires":[["b18f9546.c09998","a210682b.9a4c58"]]},{"id":"2f7b714d.080c7e","type":"function","z":"b678f264.d9187","name":"push to feeds","func":"//msg.payload.feeds.push(msg.rss);\nvar kwset=[];\n\nfor (let step = 0; step < msg.payload.length; step++) {\n    kwset.push(\n        {\n            \"_id\" : step,\n            \"keyword\":msg.keywords[step],\n            \"feed\" : msg.payload[step],\n            \"sms\": false,\n            \"email\": false,\n        }\n\n        )\n}\n\n\nmsg.kwset = kwset;\nmsg.output.kwset = kwset;\nmsg.output.feeds = msg.payload;\nmsg.output.active = true;\nmsg.payload=msg.output;\nreturn msg;","outputs":1,"noerr":0,"x":2360,"y":320,"wires":[["228b2673.34d63a"]]},{"id":"395d21c4.da8d4e","type":"delay","z":"b678f264.d9187","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1710,"y":340,"wires":[["46f014e9.1910cc"]]},{"id":"b9d2c3c.6b5224","type":"join","z":"b678f264.d9187","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2110,"y":340,"wires":[["2f7b714d.080c7e"]]},{"id":"46f014e9.1910cc","type":"function","z":"b678f264.d9187","name":"","func":"msg.payload = \"'\" + msg.payload + \"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":380,"wires":[["a3eabeeb.a9599"]]},{"id":"50a3f63c.4d2c98","type":"inject","z":"b678f264.d9187","name":"","topic":"","payload":"keepalive1234567890","payloadType":"str","repeat":"18000","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":620,"wires":[["5be9849c.18f15c"]]},{"id":"5be9849c.18f15c","type":"exec","z":"b678f264.d9187","command":"node /home/ubuntu/ga-gen/rss ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"RSS KEEP ALIVE  /  DOWN NOTIFICATION","x":440,"y":620,"wires":[["a187ec6.da7821"],[],[]]},{"id":"33038671.60df3a","type":"twilio out","z":"b678f264.d9187","twilio":"dc1c46f2.671f78","twilioType":"sms","url":"","number":"","name":"","x":1230,"y":620,"wires":[]},{"id":"a187ec6.da7821","type":"switch","z":"b678f264.d9187","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"https","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":620,"wires":[[],["121b9c56.eed534"]]},{"id":"121b9c56.eed534","type":"function","z":"b678f264.d9187","name":"Report to TECH","func":"msg.payload = \"WARNING!   The Node-red RSS Feeder is not producing a URL.  Please check this!   /home/ubuntu/ga-gen/rss.js \"\n\nmsg.to = flow.get('techphone');\nmsg.topic = flow.get('techphone');\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":620,"wires":[["7cdb5a6f.fe7ad4"]]},{"id":"597d4883.a3ced8","type":"comment","z":"b678f264.d9187","name":"CHECKS RSS FEED GENERATOR AND REPORTS WHEN NOT WORKING","info":"","x":320,"y":580,"wires":[]},{"id":"7cdb5a6f.fe7ad4","type":"delay","z":"b678f264.d9187","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1040,"y":620,"wires":[["33038671.60df3a"]]},{"id":"20f6ae0b.8065a2","type":"comment","z":"b678f264.d9187","name":"Rate Limit the SMS notifications","info":"","x":1030,"y":580,"wires":[]},{"id":"8fc94c6e.cb993","type":"catch","z":"b678f264.d9187","name":"","scope":["a210682b.9a4c58"],"uncaught":false,"x":370,"y":80,"wires":[[]]},{"id":"b84a8987.fd02e8","type":"comment","z":"b678f264.d9187","name":"CATCH : func:  \"attache msg.meta data\"","info":"","x":450,"y":40,"wires":[]},{"id":"dc1c46f2.671f78","type":"twilio-api","z":"","name":"","sid":"","from":""}]